<nav class="navbar">
  <div class="navbar-inner">
    <a href="/" class="brand">YeumEasy</a>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/users">Users</a>
      <a href="/equipment">Equipment</a>
      <a href="/borrows">Borrow</a>
      <a href="/reports">Reports</a>
      <button type="button" class="btn btn-gray" id="themeToggle">Dark Mode</button>
    </div>
  </div>
</nav>
